# Demonstration of Light and Thermostat Simulation

# Light Simulation

In [1]:
from LightSimulator import LightSimulation

In [2]:
light_ob = LightSimulation()

In [3]:
light_ob.generate_synthetic_data(1000)

In [4]:
light_ob.store_synthetic_data()

'Light 1.xlsx'

In [5]:
light_ob.df_brightness.head(10)

   ID  Brightness_Lux
0   0            1.83
1   1            0.00
2   2            0.92
3   3            2.75
4   4            5.49
5   5            8.24
6   6           12.82
7   7           20.14
8   8           21.97
9   9           28.38

In [6]:
light_ob.df_synthetic_brightness.head(10)

   ID  Brightness_Lux
0   0      125.829478
1   1        0.000000
2   2       97.985236
3   3      179.493375
4   4      100.772691
5   5        0.000000
6   6       82.398085
7   7        0.000000
8   8      209.200254
9   9        0.000000

In [7]:
light_ob.generate_synthetic_data(1000)

In [8]:
light_ob.store_synthetic_data()

'Light 2.xlsx'

In [9]:
light_ob.generate_synthetic_data(1000)

In [21]:
light_ob.store_synthetic_data()

'Light 4.xlsx'

# Thermostat Simulation

In [11]:
from ThermostatSimulator import ThermostatSimulation

In [12]:
thermostat_ob = ThermostatSimulation()

In [13]:
thermostat_ob.generate_synthetic_data(1000)

In [14]:
thermostat_ob.store_synthetic_data()

'Thermostat 1.xlsx'

In [15]:
thermostat_ob.df_thermostat.head(10)

   ID  Relative_Humidity_Perc  Temperature_C  Outside_Temperature_C
0   0                      40          19.76                   10.9
1   1                      43          21.02                    7.6
2   2                      52          20.24                    9.9
3   3                      52          20.08                   10.4
4   4                      62          20.71                   16.4
5   5                      61          20.55                   19.9
6   6                      61          20.39                   18.1
7   7                      60          20.39                   17.0
8   8                      52          20.55                   20.3

In [16]:
thermostat_ob.df_synthetic_thermostat.head(10)

   ID  Relative_Humidity_Perc  Temperature_C  Outside_Temperature_C
0   0                      62      20.824400              14.735118
1   1                      54      20.513181              20.300000
2   2                      61      20.584632              20.300000
3   3                      54      20.544655              12.059962
4   4                      59      20.084853              20.300000
5   5                      50      20.344496              12.198275
6   6                      48      19.934253              13.482506
7   7                      55      20.787241              15.200860
8   8                      40      20.229508              14.027327
9   9                      62      20.131321              20.300000

In [17]:
thermostat_ob.generate_synthetic_data(1000)

In [18]:
thermostat_ob.store_synthetic_data()

'Thermostat 2.xlsx'

In [19]:
thermostat_ob.generate_synthetic_data(1000)

In [20]:
thermostat_ob.store_synthetic_data()

'Thermostat 3.xlsx'